@(mainClass: String, args: Map[String, String] = Map.empty)

@*
* Provides the environment and loads a scalajs application.
*@

<div id="scalajs-error" class="alert alert-danger" style="display: none;">
    <p><strong><i class="fa fa-bug"></i> Error! </strong> An uncaught exception occurred in the UI application,
        any information displayed on this website may be corrupt. Check the console for an error log.</p>
</div>
<div id="@mainClass-app" class="app" style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">
        <div class="loader">
            Loading...
            <i class="fa fa-cog fa-spin"></i>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/ui/js/ui-fastopt.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    try {
	  //root element that will contain the ScalaJS application
	  var root0 = document.getElementById("@mainClass-app");

	  //clear any existing content
	  while (root0.firstChild) {
	    root0.removeChild(root0.firstChild);
	  }

      //run ScalaJS application
      console.info("[@mainClass] Starting ScalaJS application...")
	  @{mainClass}.start({
	    root: root0,
	    baseUrl: "/",
	    args: {
	     @args.map{ case (key, value) => @key: "@value",}
	    }
	  });
    } catch(ex) {
      //display warning message in case of exception
	  document.getElementById("scalajs-error").style.display = "block";
	  throw ex;
    }
  });
</script>